.App {
  background-image: linear-gradient(to right, rgb(229, 231, 235), rgb(156, 163, 175), rgb(75, 85, 99));
  size: 100%;
}

.App-header {
  background-image: linear-gradient(to right, rgb(229, 231, 235), rgb(156, 163, 175), rgb(75, 85, 99));
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.App-link {
  color: #61dafb;
}

body {
  background-image: linear-gradient(to right, rgb(229, 231, 235), rgb(156, 163, 175), rgb(75, 85, 99));
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.container {
  display: flex;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 50px;
  flex-wrap: wrap;
}

.item-1 {
  flex-grow: 0;
  color: #212427;
  float: left;
  padding-top: 10px 0;
  padding-left: 50px;
  padding-right: 375px;
  font-weight: 500;
  font-size: 37.5px;
  font-weight: 200;
}

.item-3 {

}


/* Navigation bar components */

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  margin-right: 70px;
  padding-right: 10px;
  padding-top: 35px;
}

nav a {
  box-shadow: inset 0 0 0 0 #212427;
  color: #212427;
  padding: 0 .75rem;
  margin: 0 -.75rem;
  font-size: 25px;
  font-weight: 500;
  font: bold;
  text-decoration: none;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
  border-radius: 7.5px;
}

a:hover {
  color: #212427;
  box-shadow: inset 200px 0 0 0 beige;
  border-radius: 7.5px;
}

.typewriter {
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  color: #212427;

}
